{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if latest_question_list %}
    <table class="question">
        <thead>
            <tr>
                <th>ID</th>
                <th>Questions</th>
                <th>Results Link</th>
            </tr>
        </thead>
        <tbody>
            {% for question in latest_question_list %}
            <tr>
                <th>{{ question.id }}</th>
                <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                <td><a href="{% url 'polls:results' question.id %}"><button type="button">Results</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No polls are available.</p>
{% endif %}
    <br>
    <a href="/accounts/logout/"><button type="submit">Logout</button></a>
